body {
  background-color: #F9F9F9;
}
h1 {
  text-align: center;
}
h4 {
  border-bottom: 1px solid rgb(194, 187, 187);/*for creating border only at the bottom of the h4 element*/

}
header {
  display:flex;/*flex can be used to lay a collection of items in one direction*/
  justify-content: space-between;/*This used to diplay flex elements with space between them*/
  position: fixed;/*The fixed position fixes the position of an element in a website even when the page is scrolling*/
  right:0;
  left: 0;
  top: 0;
  height: 30px;
  padding: 20px 30px;
  border-bottom-width: 1px;
  border-bottom-color: rgb(194, 187, 187);
  border-bottom-style: solid;
  background-color: white;
  z-index: 100;/*elements with higher z-index will always appear on top of other elements*/
}
header:hover {
  cursor: pointer;
}
.definition-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  vertical-align: center;
  margin-top: 70px;
}
.definition-heading {
  animation: animate 4s 1;
  transition: 0.6s ease;
}
.definition-section {
  text-align: center;
}
.img-container {
 margin-left: 10px;
 margin-right: 20px;

}
#mainimage {
  width: 700px;
}
.Importance-section {
  border-width: 1px;
  border-color: rgb(194, 187, 187);
  border-style: solid;
  background-color: white;
  margin: 20px 10px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.1);
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}
.Importance-heading {
  margin-left: 10px;
}
.Importance-content-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
}
.Importance-content {
  border-width: 1px;
  border-color: rgb(194, 187, 187);
  border-style: solid;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 20px 10px;
}
.website-link {
  transition: color 0.15s;
}
.website-link:hover {
  color: red;
}
.websiteimage {
  display:block;
  width: 600px;
}
form {
  width: 300px;
  margin: auto;
}
.Contact-us{
   margin-right: 120px;
}
svg {
  position: absolute;
  right: 500px;
  top: 3100px;
}
table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 600px; 

      }
td {
    border: 1px solid black;
    padding: 16px;
    font-size: 24px;
      }
th {
    border: 1px solid black;
    font-size: 24px;
    padding: 16px;
      }
caption {
  font-weight: bold;
  font-size: large;
}
table {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
section {
  display: inline-block;
}
iframe {
  width: 100%;
}
footer {
  text-align: center;
  margin-top: 20px;
}
@keyframes animate {
  0% {
    transform: scale(0)
  }
  100% {
    transform: scale(1)
  }
}
@media (max-width: 600px) {
  .Importance-content-container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    width: 95%;
  }
  .definition-section {
    margin-top: 20px;
    text-align: center;
    width: 100%;
    
  }
  .definition-container {
   display:block;
  }
  
  #mainimage {
    width: 100%;
  }
  header {
    width: 90%;
  }
  .websiteimage {
    width: 100%;
  }
  table {
    width: 100%;
  }
  td {
    font-size: 18px;
  }
  iframe {
    height: 200px;
  }
}
@media (min-width: 600px) and (max-width:768px) {
  .Importance-content-container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
  }
  .definition-section {
    margin-top: 20px;
    text-align: center;
    margin-left: 10px;
  }
  .definition-container {
   display:block;
  }
  
  #mainimage {
    width: 100%;
  }
  header {
    width: 92%;
  }
  .websiteimage {
    width: 360px;
  }
  table {
    width: 100%;
  }
  td {
    font-size: 18px;
  }
  iframe {
    height: 300px;
  }

}
@media (min-width: 768px) and (max-width:992px) {
  .Importance-content-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
  }
  .definition-section {
    margin-top: 20px;
    text-align: center;
    margin-left: 10px;
  }
  .definition-container {
   display:block;
  }
  
  #mainimage {
    width: 100%;
  }
  header {
    width: 94%;
  }
  .websiteimage {
    width: 360px;
  }
  table {
    width: 100%;
  }
  td {
    font-size: 18px;
  }
  iframe {
    height: 300px;
  }
}
@media (min-width: 992px) and (max-width:1200px) {
  .Importance-content-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
  }
  .definition-section {
    margin-top: 20px;
    text-align: center;
    margin-left: 10px;
  }
  .definition-container {
   display:block;
  }
  
  #mainimage {
    width: 100%;
  }
  header {
    width: 95%;
  }
  .websiteimage {
    width: 360px;
  }
  table {
    width: 100%;
  }
  td {
    font-size: 18px;
  }
  iframe {
    height: 300px;
  }
}
@media (min-width: 1200px){

}


